* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/**
 * Tener en cuenta que 1 rem son 16 pixeles.
 */

body {
    font-family: Arial, sans-serif;
    background-color: #E5E5E5;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    /*width: 100vh; */

}

.contenedor {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    
    gap: 2rem;
}

.seccion-izquierda {
    flex: 0 0 75%;
    display: flex;
    flex-direction: column;
}


.seccion-derecha {
    flex: 0 0 25%;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.img-logo {
    width: 3.5rem;
    height: 5.5rem;
    padding-top: 2rem;
}

.seccion{
    padding-left: 15%;
}

.input{
    /* background-color: inherit;*/
    background-color: inherit;
    border: none;
    outline: none;
    resize: none;
    overflow-y: auto;
    
    font-family: 'Inter', sans-serif;
    font-size: 2rem; 
    color: #0A3871;

    margin-top: 5.5rem;  

    
    width: 38rem; 
    height: 12rem; 
 
}

.input::placeholder {
    color: inherit; 
}

.seccion-exclamacion{
    display: flex;
    align-items: center;
    margin-top: 2.5rem;  /* 168px */
    gap: 0.5rem;
}

.img-exclamacion {
    width: 1rem;
    height: 1rem;
    object-fit: contain; 
}

.parrafo-exclamacion{
    color: #495057;
    font-size: 0.75rem;
}

.seccion-botones{
    display: flex;
    align-items: center;
    margin-top: 1rem;  /* 168px */
    gap: 1rem;
}

.boton {
    max-width: 19.5rem;
    max-height: 3.18rem;
    object-fit: contain; 
    image-rendering: auto;
    overflow: hidden;
    background-color: transparent;
    border-radius: 10%;
}

.boton:hover {
    cursor: pointer;
    transform: scale(1.05); /* tamaño */
    
}



.rectangulo {
    margin-top: 2rem;
    background-color: white;
    border-radius: 1.2rem;
    
    height: 90%;
    text-align: center;

    display: flex; 
    flex-direction: column;
    align-items: left; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    padding: 1.25rem;
    
    
    width: 18rem;
    justify-content: space-between;
    
    
}

.boton-copiar{
    width: 100%;
}

.boton-copiar-expandido{
    width: 100%;
    height: auto;

    object-fit: contain; 
    image-rendering: auto;
    overflow: hidden;
    background-color: transparent;
    border-radius: 4%;
}

.boton-copiar-expandido:hover {
    cursor: pointer;
    transform: scale(1.05); /* tamaño */
    
}

.boton-visible{
    display: none !important;
}

.mensaje-traduccion{
    font-family: 'Inter', sans-serif;
    font-size: 1.1rem; 
    color: #495057;
    text-align: left;
    max-height: 22rem; 
    overflow-y: auto;
    word-break: break-word;
    overflow-wrap: break-word;
}

.img-muñeco{
    width: 90%;
    height: auto;
}


.mensajes{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.mensaje-titulo{
    font-family: 'Inter', sans-serif;
    font-size: 1.25rem; 
    color: #343A40;
    font-weight: bold;
}

.mensaje-subtitulo{
    font-family: 'Inter', sans-serif;
    font-size: 0.75rem; 
    color: #495057;
}

#mensaje-emergente {
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.5s;
}

#mensaje-emergente.visible {
    opacity: 1;
}

#mensaje-emergente.oculto {
    opacity: 0;
}


/* Media queries para tabletas */
@media (max-width: 768px) {

    body{
        width: 100%;
    }
    
    .contenedor {
        flex-direction: column;
        justify-content: flex-start;
        align-content: flex-start;

        width: 100%; 
        padding: 0 1.5rem; 
        height: 100vh;
        gap: 5rem;
    }

    .seccion-izquierda, .seccion-derecha {
        width: 100%;
        margin: 0;
    }

    .seccion {
        padding-left: 0%;
        width: 100%; 
        height: 100%;
    }

    .img-logo{
        margin-right: 85%;
    }

    .input {
        width: 100%;
        height: 70%;
    }

    .seccion-botones{
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }


    .rectangulo {
        margin: 0 auto;
        width: 90%;
        height: 80%;
        
        gap: 1.5rem;
        padding: 1rem;
        margin-bottom: 2rem;
        margin-top: 15%;
    }

    
    .img-muñeco {
        display: none !important;
    }

    .boton-copiar{
        display: none !important;
    }

    .boton-visible{
        display: block !important;
    }

    .boton-oculto{
        display: none !important;
    }

    .boton{
        max-height: none;
        max-width: none;
        width: 50%;
    }
}



/* Media queries para teléfonos */
@media (max-width: 430px) {

    .contenedor {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        width: 100%; 
        padding: 0 2rem; 
        height: 100vh;
        gap: 0;
    }

    .seccion-izquierda, .seccion-derecha {
        width: 100%;
        margin: 0;
    }

    .seccion {
        padding-left: 0%;
        width: 100%; 
        height: 100%;
    }

    .input {
        width: 100%;
        height: 40%;
    }

    .seccion-botones{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        width: 100%;
    }



    .img-logo {
        margin-right: 90%;
        max-width: 100%; 
    }

    .rectangulo {
        margin: 0 auto;
        width: 90%;
        height: 100%;
        
        margin-top: 2%;
        gap: 1.5rem;

        
        margin-bottom: 2rem;
        display:flex;
    }

    .boton {
        max-width: 100% ; 
        width: 100% ; 
        
        font-size: 1.2rem;
        
    }

    .regresar-boton{
        display: block !important;
    }

    .boton-copiar-expandido{
        display: none !important;
    }

    .img-muñeco {
        display: none !important;
    }
    body{
        padding: 0;
    }

    .mensaje-titulo{
        font-size: 1.8rem;
    }

    .mensaje-subtitulo{
        font-size: 1rem;
    }

}

@media (max-width: 380px) {

    .rectangulo{
        margin-top: 5rem;
    }

    .mensaje-titulo{
        font-size: 1.5rem;
    }

}

@media (max-width: 370px) {

    .rectangulo{
        margin-top: 3rem;
    }

}

@media (max-width: 350px) {

    .rectangulo{
        margin-top: 0;
    }

    .mensaje-titulo{
        font-size: 1.8rem;
    }

}